body{
    position:absolute;
    width:100%;
    height:100%;
  }
  
  button{
    position:absolute;
    margin:auto;
    width:100px;
    height:30px;
    left:0;
    right:0;
    bottom:0;
    top:0;
  }
  
  /* Aqui a mensagem ja está com o display none para já começar escondida */
  .mensagem{
    display:none;
    position:absolute;
    top:110%;
    left:0;
    right:0;
    margin: auto;
    width:100px;
    height:20px;
    background-color: #72eb88;
  
  }